#masthead{ background-image:url(http://www.eatlovelive.nl/wp/wp-content/uploads/2015/01/IMG_5946.jpg);}

    .search-box, .audio-format .audioplayer, .audio-format .audioplayer .mejs-controls,
    .link-format, .quote-format, #comments h2.comments-title span, #comments #respond p.form-submit input{
     background: !important;
       }
    #comments #respond p.form-submit input{
       border-color:!important;
     }
    #comments ol.comment-list li .comment-body .comment-meta .comment-metadata a.comment-reply-link{
     color: !important;
    }

    .main-navigation{
    	background: ;
    }
    /* draw any selected text yellow on red background */
    ::-moz-selection { color: #fff;  background: #222; }
    ::selection      { color: #fff;  background: #222; } 
    /* Links */

    a, .hentry .entry-header .entry-meta span {
    	color: ;
    }

    a:visited {
    	color: ;
    }

    a:hover,
    a:focus,
    a:active {
    	color:;
    	text-decoration: none;
    }